.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
    float: none;
    display: inline-block;
  }

.rules h1,
.about {
  text-align: center;
}

#snowbg {
  background: url('images/snowflake-bg.png') no-repeat center center fixed;
  background-size:100% auto;
}
