.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
    float: none;
    display: inline-block;
  }

h1,
.about {
  text-align: center;
}

#snowbg {
  background-color: #eee;
}


.rules{
  background-color: #e24f4f;
  color: #fff;
}

.rules, .signup {
  margin: 10% 0;
}

#snowbg {
  background: url('images/kfss-bg.png') repeat center center fixed;
  background-size: cover;

}

.logo {
  height: 40%;
  width: 40%;
  position: relative;
  top: 8em;
}

ul{
     list-style-type: none;
  }

  li.rule  {
      position: relative; /* Will help curtail overlap */
     padding: 5px 30px; /* Reserves a space for the square dot */
   }

   li.rule:before {
      content: '\f06b';
      position: absolute;
      left: 0;
      top: 0; /* Places the square dot at the space created by the LI padding */
      font-family: fontAwesome;
      font-size: 1.5em;

    }
